<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tabler.min.css"> <!-- Assuming Tabler CSS is used globally -->
   
    <style>
        body {
            display: flex;
            min-height: 100vh;
            overflow-x: hidden; /* Prevent horizontal scroll */
            padding: 0; /* Reset default padding */
            margin: 0; /* Reset default margin */
        }

        .navbar-vertical {
            width: 80px !important; /* Reduced width of the sidebar and ensure it applies */
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1040; /* Ensure sidebar is above other content */
            background-color: rgba(255, 255, 255, 0.8);
            overflow-y: auto; /* Allows scrolling within the sidebar */
        }

        .main-content {
            margin-left: 100px; /* Ensure this matches the width of your sidebar */
            width: calc(100% - 200px); /* Adjust width to account for sidebar */
            flex-grow: 1;
            padding: 10px;
            padding-left: 15px;
        }

        .nav-link .icon {
    width: 32px;  /* Increase from 25px to 36px for 75% increase */
    height: 32px;  /* Same increase for height */
}

.navbar-vertical .navbar-nav .nav-item {
    margin-bottom: 5px; /* Reduce the bottom margin to decrease the gap */
    margin-top: -10px;
}


    

    </style>
</head>
<body>


    <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <div class="page-pretitle">
              Asseco
            </div>
            <h2 class="page-title">
              Dashboard
            </h2>
          </div>
        
        <br>
              </span>


              <aside class="navbar navbar-vertical navbar-expand-lg fixed-left">
                <div class="container-fluid" style="height: 100vh; overflow-y: auto;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="sidebar-menu">
                        <ul class="navbar-nav pt-lg-3">
                            <li class="nav-item">
                                <a href="/customers" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-compass">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M8 16l2 -6l6 -2l-2 6l-6 2" />
                                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                        <path d="M12 3l0 2" />
                                        <path d="M12 19l0 2" />
                                        <path d="M3 12l2 0" />
                                        <path d="M19 12l2 0" />
                                    </svg>
                                </a>
                                
                                
                            </li>
                            <li class="nav-item">
                                <a href="/esg" class="nav-link">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-report"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" /><path d="M18 14v4h4" /><path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" /><path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M8 11h4" /><path d="M8 15h3" /></svg>
                                    <span class="nav-link-title"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
</body>
</html>
