<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tabler.min.css">
    <title>ESG Peer Benchmarking</title>

    <link rel="stylesheet" href="styles.css">


    <style>
        .badge {
            cursor: pointer;
            transition: background-color 0.3s;
        }


        .bg-blue-lt {
            background-color: #f0f2f7;
            /* Light blue background */
        }

        .bg-blue {
            background-color: #0054a6;
            /* Blue background */
            color: white;
            /* White text */
        }

        .badge:hover {
            background-color: #0054a6;
            /* Blue background on hover */
            color: white;
            /* White text on hover */
        }


        /* New styles for making table rows thinner */
        .table th,
        .table td {
            padding: 3px 2px !important;
            /* Smaller padding */
        }
    </style>

</head>

<script>
    //set the logged in user
    var loggedInUser = JSON.parse('<%-JSON.stringify(user) %>' )        
 </script>
<body>
    <div class="page">
        <!-- Start of header  -->
        <header class="navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="/esg"> ESG Peer Benchmark</a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                            aria-label="Open user menu">
                            <span class="avatar avatar-sm"
                                style="background-image: url(./static/avatars/000m.jpg)"></span>
                            <div class="d-none d-xl-block ps-2">
                                <div>Mike </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="/" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <!-- end of header  -->

        <!-- start of body  -->

        <div class="page-wrapper ">
            <div class="page-header d-print-none mt-3 mb-0">
                <div class="container-xl" style="max-width:93%">
                    <div class="row g-2 align-items-center">
                        <div class="row">
                            <!-- Standard dropdown  -->
                            <div class="col-md-2 mb-2">
                                <label for="subOptionsDropdown" class="form-label"><strong>Standard</strong></label>
                                <div class="dropdown ">
                                    <button class="btn dropdown-toggle w-100  text-left"   id="subOptionsDropdown"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Wybierz
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="subOptionsDropdown"
                                        id="subOptionsContainer">
                                        <!-- Sub-options will be dynamically added here -->
                                    </ul>
                                </div>

                                

                            </div>
                            <!-- End of Standard dropdown  --> 

                            <!-- Item dropdown  -->
                            <div class="col-md-2 mb-2">
                                <label for="subOptionsDropdown" class="form-label"><strong>Item</strong></label>

                                 
                                <div class="dropdown" >
                                    <button id="itemsBtn" class="btn dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
                                        Item
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="javascript:updateCardTitles('Governance');">Ład
                                                Korporacyjny</a></li>
                                        <li><a class="dropdown-item"
                                                href="javascript:updateCardTitles('Social');">Społeczeńśtwo</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="javascript:updateCardTitles('Environment');">Środowisko</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="javascript:updateCardTitles('Other');">Inne</a>
                                        </li>
                                    </ul>
                                </div>


                                <!-- <select class="form-select" id="items"
                                    onchange="updateCardTitles(this.value); clearStandardSelection();">
                                    <option value="Governance" selected>Ład Korporacyjny</option>
                                    <option value="Social">Społeczeńśtwo</option>
                                    <option value="Environment">Środowisko</option>
                                    <option value="Other">Inne</option>
                                </select> -->






                            </div>
                            <!-- End of Item dropdown  -->
                            <div class="col-md-6 mb-2">
                                <div id="governanceSubheadings" class="mt-5" style="display: none;">
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="handleBadgeClick('Board')">Board</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Governance', 'Management'); handleBadgeClick(event)">Management</span>
                                </div>

                                <div id="EnvSubheadings" class="mt-5" style="display: none;">
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Environment', 'Climate'); handleBadgeClick(event)">Climate</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Environment', 'Energy'); handleBadgeClick(event)">Energy</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Environment', 'Emissions'); handleBadgeClick(event)">Emissions</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Environment', 'Water'); handleBadgeClick(event)">Water</span>
                                </div>

                                <div id="socialSubheadings" class="mt-5 " style="display: none;">
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Social', 'People'); handleBadgeClick(event)">People</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Social', 'Pay'); handleBadgeClick(event)">Pay</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Social', 'Equality'); handleBadgeClick(event)">Equality</span>
                                </div>

                                <div id="OtherSubheadings" class=" mt-5" style="display: none;">
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Other', 'About'); handleBadgeClick(event)">About</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Other', 'BusinessModel'); handleBadgeClick(event)">Business
                                        Model</span>
                                    <span class="badge bg-blue-lt cursor-pointer"
                                        onclick="loadData('Other', 'MaterialityAssessment'); handleBadgeClick(event)">Materiality
                                        Assessment</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Page body -->
            <div class="page-body mt-1  ">
                <div class="container-l " style="max-width:93%">
                    <div class="row row-deck row-cards ">
                        <!-- Start of Table content  -->

                        <div class="col-md-7  ">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" id="dynamicHeading"></h3>
                                </div>
                                <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr id="table-headings">
                                                <th>Company</th>
                                                <!-- Headings will be inserted here dynamically -->
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                            <!-- Company rows will be inserted here dynamically -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End of Table content  -->


                        <div class="col-md-5 ">
                            <div class="col-12">
                                <!-- start of explainer  -->
                                <div id="explainerCard" class="card mb-2 " style="height: 18rem">

                                    <div class="card-header">
                                        <h3 class="card-title">Wyjaśnienie </h3>
                                    </div>
                                    <div class="card-body p-2">
                                        <p class="text-secondary  " style="height:13rem;">
                                            Details related to the selected standard will appear
                                            here.</p>

                                    </div>
                                </div>
                                <!-- end of explainer  -->
                                <!-- start tabs content  -->
                                <div class="card" style="height: 15rem">
                                    <div class="card-body p-2 ">
                                        <!-- <div class="card-tabs"> -->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="#tab-top-1" class="nav-link active"
                                                    data-bs-toggle="tab" data-index="0">Bank Gospodarstwa Krajowego</a>
                                            </li>
                                            <li class="nav-item"><a href="#tab-top-2" class="nav-link"
                                                    data-bs-toggle="tab" data-index="1">Data</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-top-1" class="  tab-pane active show">
                                                <div class=" ">
                                                    <div class="card-title"></div>
                                                    <p class="text-secondary">Bank Gospodarstwa Krajowego to podmiot
                                                        funkcjonujący w formule prawnej banku państwowego . Bank
                                                        prowadzi działalność także poprzez jednostki w 16 regionach
                                                        Polski oraz posiada przedstawicielstwa zagraniczne (w Brukseli,
                                                        Amsterdamie, Londynie, Frankfurcie nad Menem).

                                                    </p>
                                                </div>
                                            </div>
                                            <div id="tab-top-2" class="  tab-pane">
                                                <div class=" ">
                                                    <div class="card-title"></div>
                                                    <p class="text-secondary"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <!--    end of   tabs content  -->
                            </div>

                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image View</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" id="modalImage" class="img-fluid" alt="Responsive image">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script> -->
    <script src="script.js"></script>
    <script src="/js/tabler.min.js" defer></script>


</body>

</html>

<script>



    // updateCardTitles
</script>