/* Additional styling can be added here */
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
   
}

.highlight-row {
    background-color: #e9f0f9;
}

.bold-text {
    font-weight: bold;
}


/* Additional space between table and tab content */
.col-lg-6:first-child {
    padding-right: 20px; /* Increase right padding on the table column */
    padding-top: 20px;
}

.col-lg-6:last-child {
    padding-left: 55px; /* Increase left padding on the tabs column */
}


.table th, .table td {
    text-align: left; /* or center, depending on your design */
    padding: 8px; /* consistent padding */
    vertical-align: middle; /* ensures content is centered vertically */
}

.table {
    width: 100%; /* ensures the table stretches appropriately */
    border-collapse: collapse; /* ensures borders between cells are merged */
}

.explainer-card {
    position: absolute; 
    top: -750px !important;
    left: 105%;
    width: 600px !important;
    margin-left: 20px; 
}

.text-secondary {
    max-height: 220px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: adds padding inside the text area */
}

#subOptionsContainer .badge {
    margin: 0.1em; 
    flex-grow: 1;  
    text-align: center;  
}


/* Ensuring proper alignment with the card-tabs */
.card-tabs, .explainer-card {
    float: left; /* Make sure they align horizontally when in a flex or grid container */
    width: calc(50% - 10px); /* Adjust the width to take up half the container minus a small gap */
    margin-right: 10px; /* Optional: adds a small gap between the tabs and the card */
}

/* Clear float to ensure no layout issues */
.row:after {
    content: "";
    display: table;
    clear: both;
}



